// base
@import 'base/base';
@import 'base/color';
@import 'base/font';
@import 'base/spacing';

// mixin
@import 'mixin/mixins';

// component
@import 'component/btn';
@import 'component/form';
@import 'component/table';
@import 'component/title';
@import 'component/grid';

// layout
@import 'layout/body';

// page
@import 'page/index';
@import 'page/about';

// plugin




//mixin
.box {
    @include center(100px, 100px);
}

.box_default {
    @include center(150px, 150px);
}

.box_large {
    @include center(300px, 300px);
}

.card {
    @include rect(100px, 100px);
}


// @mixin fontDefault($f){
//     font-size: $f;
//     @content;
// }

// .titles {
//    @include fontDefault(30px)
// }




h1 {
    font-size: 40px;
    color: #333;

    //自己設定斷點
    @include d(890px) {
        font-size: 60px;
        color: #2e3fff
    }

    @include m() {
        font-size: 90px;
        color: rgb(255, 0, 191)
    }
}

@mixin push($num , $dir) {
    @for $i from 1 through $num {
        .push#{$dir}-#{$i} {
            position: relative;
            #{$dir}: $i * 1px;
        }
    }
}

@include push(20, left);
@include push(20, top);



.col-1 {
    width: 8.33333%;
}

.col-12 {
    width: 100%;
}








