/*css 註解*/
//變數型態
$fontsize : 16px; // 數字
$fontfamily : Arial,
Helvetica,
sans-serif; //字串
$margin : 10px 20px; // list
$fontColor : #333; // color
$title : (key : value,
    h1 : 40px,
    h2 : 36px); // map

h1.title {
    font-size: map-get($title, h2);
}

$fontWeight : false; // 布林值 

body {
    $font : 20px;
    font-family: $fontfamily;
    font-size: $fontsize;
    margin: $margin;
    padding: 0;
    color: $fontColor;
    background-color: #92ffdb;

    @if $fontWeight {
        font-weight: 400
    }
}

// ======  設定變數 ======
// 字體
// 顏色
// 斷點
// grid col
// 按鈕尺吋 顏色
// 標題字 大小 顏色


// header

$layout : 1366;
.wrapper {
    @if $layout == 100 {
        width: 100%;
    }@else {
      width: $layout + px;
      margin: auto;
    }
  
    header {
        display: flex;
        justify-content: space-between;
    
        h1.logo {
            width: 150px;
            height: 80px;
            background-color: #00ff95;
        }
    
        nav {
            ul {
                list-style: none;
                display: flex;
                li {
                    padding: 10px 20px;
                    text-align: center;
                    background-color: #794300;
                    color: #fff;
                    cursor: pointer;
                    transition:all .3s ease;
                    &:hover {
                         background-color: #ffe600;
    
                    }
                    &:nth-child(2) {
                       background-color: #2fff00;
                       &:hover {
                        background-color: #ca5800;
                       }
                    }
                }
            }
    
    
        }
    
    }

    footer{
    
    }

}

.container{
    
}
