body {
    $font : $fontsize;
    font-family: $fontfamily;
    font-size: $fontsize;
    margin: $margin;
    padding: 0;
    color: $fontColor;
    background-color: $backgroundColor;

    @if $fontWeight {
        font-weight: 400
    }
}

.wrapper {
    @if $layout ==100 {
        width: $layout * 1%;
    }

    @else if $layout < 100 {
        width: $layout * 1%;
        margin: auto;
    }

    @else {
        width: $layout + px;
        margin: auto;
    }
   @import 'header';
   @import 'footer';
}