body {
    $font : $fontsize;
    font-family: $fontfamily;
    font-size: $fontsize;
    margin: $margin;
    padding: 0;
    color: $fontColor;
    background-color: $backgroundColor;

    @if $fontWeight {
        font-weight: 400
    }
}

.wrapper {
   @include layout(100);
   @import 'header';
   @import 'footer';
}

.w30 {
  @include layout(30); 
}