header {
    display: flex;
    justify-content: space-between;

    h1.logo {
        width: 150px;
        height: 80px;
        background-color: #00ff95;
    }

    nav {
        ul {
            list-style: none;
            display: flex;

            li {
                padding: 10px 20px;
                text-align: center;
                background-color: #794300;
                color: #fff;
                cursor: pointer;
                transition: all .3s ease;

                a {
                    text-decoration: none;
                    color: #fff
                }

                &:hover {
                    background-color: #ffe600;

                }

                &:nth-child(2) {
                    background-color: #2fff00;

                    &:hover {
                        background-color: #ca5800;
                    }
                }
            }
        }


    }

}