



$black : #333;
$white : #f6f6f6;
$gray : #888888;

$primary :#01ff80; 
$secondary :#0cd0a9; 
$success :#33fd00; 
$warning :#ff8800; 
$error :#e50618; 

$fontColor : $black; // color
$backgroundColor: $white;

$color_all : (
    primary : #0033fe,
    secondary : #e1eb33,
    third : #c810f6,
    basic: #333,
    h1 : #999
    );

