$fontsize : 16px; // 數字
$fontfamily : Arial,
Helvetica,
sans-serif; //字串

$title : (key : value,
    h1 : 40px,
    h2 : 36px); // map

    
$fontWeight : false; // 布林值 

$h1 : 46px;
$h2 : 38px;
$h3 : 30px;
$h4 : 24px;
$h5 : 18px;

$title_size : (
    h1 : 50px,
    h2 : 40px,
    h3: 30px,
    h4 : 28px,
    span : 16px,
    div : 20px,
    '.box' : 36px);



