// .btn {
//    padding: 10px 30px;
//    text-align: center;
//    color : $black;
//    cursor: pointer;
//    transition: all .3s ease;    
//    &.primary {
//      background-color: $primary;
//      &:hover {
//         background-color: darken($primary , 10);
//         color: $white;
//      }
//    };
//    &.secondary {
//      background-color: $secondary;
//      &:hover {
//         background-color: darken($secondary , 10);
//         color: $white;
//      }
//    }
//    &.warning {
//      background-color: $warning;

//    }
//    &.error {
//       background-color: $error;
//     }
//    &.outline {
//       border: 1px solid $primary;
//       background-color: initial;
//       color: $primary;
//    }
//    &.radius {
//      border-radius: $border-radius-3;
//    } 

// }

@mixin btn($class , $bgc , $outline , $bdr: null) {
  .btn {
    padding: 10px 30px;
    text-align: center;
    color: $black;
    cursor: pointer;
    transition: all .3s ease;
      &.#{$class} {
        border-radius: $bdr;
        background-color: $bgc;
        border-color: $bgc;
        &:hover {
          background-color: darken($bgc , 10);
          color: $white;
        }
      }
      @if $outline {
       &.outline { 
         border-width: 1px;
         border-style: solid;
         background-color: initial;
       }      
      }
  }
}

// @mixin btn_outline($class , $bgc , $bdr: null) {
//   .btn {
//     padding: 10px 30px;
//     text-align: center;
//     color: $black;
//     cursor: pointer;
//     transition: all .3s ease;
//       &.#{$class} {
//         border-radius: $bdr;
//         border:1px solid $bgc;
//         &:hover {
//           background-color: $bgc;
//           color: $white;
//         }
//       }
//   }
// }





@include btn(primary, $primary ,false ,10px);
@include btn(primary, $primary ,true,10px);
@include btn(secondary, $secondary ,true,10px);
@include btn(error, rgb(255, 94, 0) ,true,30px);
